* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-3);
  text-decoration: none;
  list-style: none;
}

:root {
  --color-1: #090909;
  --color-2: #20202065;
  --color-3: #D0D0D0;
}

body {
  background-color: var(--color-1);
  height: max-content;
}

header {
  background-color: var(--color-2);
  padding: 2rem;
  margin-bottom: 5rem;
}

nav {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 2.5rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

#main-news {
  width: 100%;
  height: 40vh;
  padding: 3rem;
  background-image: url(/assets/pexels-anete-lusina-5721097.jpg);
  background-color: var(--color-2);
  background-size: cover ;
  background-attachment: fixed;
  background-position: right;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

#main-news div {
  max-width: 50%;
  background-color: #202020a1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

#main-news span {
  padding: 0.2rem;
  border-radius: 4px;
  background-color: red;
  font-weight: bold;
}

#others {
  width: 100%;
  display: flex;
  gap: 4rem;
  align-items: start;
  justify-content: space-between;
}

#others aside {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-right: 1px solid #202020a1;
}

.left-news {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.left-news a {
  text-decoration: underline;
  color: red;
}

#others > main {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8rem;
}

.right-news {
  background-color: var(--color-2);
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.right-news h2 {
  width: 100%;
  height: 30%;
  padding: 3rem;
}

.comments {
  width: 100%;
  height: 50%;
}
.comments h3 {
  padding: 2rem 3rem;
}

#comments-list {
  height: max-content;
  padding: 2rem 3rem;
}

.text {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: 15%;
}

.comments textarea {
  width: 90%;
  height: 100%;
  resize: none;
  padding: 0.5rem 1rem;
  outline: none;
  color: var(--color-2);
  border: none;
}

.comments button {
  width: 10%;
  background-color: var(--color-3);
  border: none;
  color: var(--color-1);
  cursor: pointer;
}

.comments button:hover {
  background-color: #d0d0d094;
  transition: 0.4s;
}

.comment {
  border: 1px solid var(--color-3);
  padding: 0.5rem 3rem;
  border-radius: 8px 8px 0px 8px;
  margin-bottom: 2rem;
}

footer {
  background-color: var(--color-2);
  padding: 5rem;
  margin-top: 5rem;
}